<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Title</title>

    <style type="text/css">
        h3{background-color: blue; color: white; padding: 10px 0 10px 20px;}
        footer{margin: 10px 0;}
    </style>
</head>
<body>


<footer th:fragment="footer">
    &copy; Tuan Anh Tran
</footer>
</body>
</html>