<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Medical Declaration Management</h3>
<p>
    <a th:href="@{/create}">
        Add new medical declaration
    </a>
</p>
<table border="1" id = "products">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Sex</th>
        <th>Nationality</th>
        <th>Travel Info</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="medical : ${medicals}">
        <td th:text="${medical.getFullName()}"></td>
        <td th:text="${medical.getSex()}"></td>
        <td th:text="${medical.getNationality()}"></td>
        <td th:text="${medical.getTravelInformation()}"></td>
        <td><a th:href="@{/{id}/edit(id=${medical.getId()})}">Edit</a> </td>
    </tr>
    </tbody>
</table>
</body>
</html>