<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function addNewSmartPhone(){
            let producer= $("#producer").val();
            let model= $("#model").val();
            let price= $("#price").val();
            let newSmartPhone= {
                producer: producer,
                model: model,
                price: price
            };
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(newSmartPhone),
                url: "/smartphones",

                success: successHandler
            });

            event.preventDefault();

        }

        function getSmartPhone(smartphone){
            return `<tr><td >${smartphone.producer}</td><td >${smartphone.model}</td><td >${smartphone.price}</td>` +
                `<td><a class="deleteSmartphone" href="${smartphone.id}">Delete</a></td></tr>`;
        }

        function successHandler(){
            $.ajax({
                type: "GET",
                url: "/smartphones",
                success: function (data){
                    let content= '    <tr>\n' +
                        '        <td>Producer</td>\n' +
                        '        <td>Model</td>\n' +
                        '        <td>Price</td>\n' +
                        '        <td>Delete</td>\n' +
                        '    </tr>';
                    for (let i = 0; i< data.length; i++ ){
                        content += getSmartPhone(data[i]);
                    }
                    document.getElementById("smartphoneList").innerHTML= content;
                }
            })
        }

        $(document).ready(function (){
            $('.deleteSmartphone').click(function (event){
                let a= $(this);
                let smartPhoneId= a.attr("href");

                $.ajax({
                    type: "DELETE",
                    url: `/smartphones/${smartPhoneId}`,
                    success: function (data){
                        a.parent().parent().remove();
                    }
                })

                event.preventDefault();
            })
        })

        $(document).ready(function (){
            $('.updateSmartPhone').click(function (){
                let a= $(this);
                let smartPhone= a.attr("href");

                $.ajax({
                    type: "GET",
                    url: `/smartphones/` + smartPhone,

                    success: function (data){
                        let content= '<form id="edit-phone">\n' +
                            '        <label>Producer</label>\n' +
                            '        <input type="text" id="producer1" placeholder="Producer" value="'+data.producer+'"><br>\n' +
                            '        <label>Model</label>\n' +
                            '        <input type="text" id="model1" placeholder="Model" value="'+data.model+'"><br>\n' +
                            '        <label>Price</label>\n' +
                            '        <input type="number" id="price1" placeholder="Price" value="'+data.price+'"><br>\n' +
                            '        <input type="submit" value="Edit" onclick="editSmartPhone('+data.id+')"><br>\n' +
                            '    </form>'


                        document.getElementById("edit-form").innerHTML= content;
                    }
                })
                event.preventDefault();
            })
        })

        function editSmartPhone(id){
            console.log("dcmm");
            let producer= $("#producer1").val();
            let model= $("#model1").val();
            let price= $("#price1").val();
            let newSmartPhone= {
                producer: producer,
                model: model,
                price: price
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "PUT",
                data: JSON.stringify(newSmartPhone),
                url: `/smartphones/` + id,

                success: function (data){
                 successHandler();
                }
            })
            event.preventDefault();
        }
    </script>
</head>
<body>
<form id="add-smartphone">
    <table>
        <tr>
            <td>Producer:</td>
            <td><input type="text" id="producer" placeholder="producer"></td>
        </tr>
        <tr>
            <td>Model:</td>
            <td><input type="text" id="model" placeholder="model"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" id="price" placeholder="price"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add" onclick="addNewSmartPhone()"></td>
        </tr>
    </table>
</form>

<h1>Smartphone List</h1>
<table id="smartphoneList">
    <tr>
        <td>Producer</td>
        <td>Model</td>
        <td>Price</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="smartphone: ${smartphones}">
        <tr>
            <td th:text="${smartphone.producer}"></td>
            <td th:text="${smartphone.model}"></td>
            <td th:text="${smartphone.price}"></td>
            <td><a th:href="${smartphone.id}" class="updateSmartPhone">Edit</a></td>
            <td><a class="deleteSmartphone" th:href="${smartphone.id}">Delete</a></td>
        </tr>
    </th:block>
</table>

<div id="edit-form">

</div>
</body>
</html>