<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<h1>List Category</h1>
<p>
    <a th:href="@{/create-category}">Create new category</a>
</p>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr  th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td><a th:href="@{/edit/{id}(id=${category.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${category.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>