<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<a href="/products/create-product">Create new customer</a>
<h1>Products</h1>
<table border="1">
    <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Provider</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><a th:href="@{/products/edit-product/__${product.id}__}">Edit</a></td>
            <td><a th:href="@{/products/delete-product/__${product.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>